<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Kuli IT Beauty - Klinik Kecantikan Profesional">
    <meta name="keywords" content="beauty clinic, klinik kecantikan, facial, treatment">
    <meta name="author" content="Kuli IT Beauty">

    <!-- CSS Files -->
    <link href="/client/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap">
    <link href="/client/css/plugins.css" rel="stylesheet" type="text/css">
    <link href="/client/css/swiper.css" rel="stylesheet" type="text/css">
    <link href="/client/css/style.css" rel="stylesheet" type="text/css">
    <link href="/client/css/coloring.css" rel="stylesheet" type="text/css">

    <!-- Color Scheme -->
    <link id="colors" href="/client/css/colors/scheme-01.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="wrapper">
        <!-- Header -->
        <%- include('../widgets/header') %>

        <!-- Content -->
        <div id="content" class="no-bottom no-top">
            <%- body %>
        </div>

        <!-- Footer -->
        <%- include('../widgets/footer') %>
    </div>

    <!-- Javascript Files -->
    <script src="/client/js/plugins.js"></script>
    <script src="/client/js/designesia.js"></script>
    <script src="/client/js/swiper.js"></script>
    <script src="/client/js/custom-swiper-1.js"></script>
</body>
</html>
