<section>
    <div class="container relative">
        <img src="/client/images/misc/leaf.webp" class="absolute top-0 end-0 w-10 anim-up-down sm-hide" alt="">
        <div class="row g-4 gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="relative">
                    <div class="row g-4 z-1000">
                        <div class="col-6">
                            <div class="spacer-single sm-hide"></div>
                            <img src="/client/images/misc/6.jpg" class="img-fluid rounded-10px mb-4 w-70 ms-30 wow fadeInLeft" data-wow-delay=".0s" alt="">
                            <img src="/client/images/misc/12.jpg" class="img-fluid rounded-10px wow fadeInUp" data-wow-delay=".1s" alt="">
                        </div>
                        <div class="col-6">
                            <img src="/client/images/misc/13.png" class="img-fluid rounded-10px mb-4 wow fadeInDown" data-wow-delay=".2s" alt="">
                            <img src="/client/images/misc/8.webp" class="img-fluid rounded-10px w-70 wow fadeInRight" data-wow-delay=".3s" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="subtitle wow fadeInUp mb-3">Selamat Datang di Kuli IT Beauty</div>
                <h2 class="wow fadeInUp">Tingkatkan<span class="d-block mt-2 alt-font fw-500 fs-72 id-color-2">Kecantikan Alami Anda</span></h2>
                <p class="wow fadeInUp">Kuli IT Beauty menghadirkan layanan perawatan kulit premium dengan pendekatan profesional dan terstruktur. Kami menggabungkan teknologi modern, tenaga ahli bersertifikat, serta produk berkualitas tinggi untuk membantu Anda mendapatkan kulit yang sehat, cerah, dan terawat.</p>
                <div class="row g-4">
                    <div class="col-xl-7">
                        <ul class="ul-style-2 text-dark fw-600">
                            <li>Teknologi Skincare Modern</li>
                            <li>Terapis & Beauty Specialist Bersertifikat</li>
                            <li>Rencana Perawatan Personal</li>
                            <li>Produk Premium Berkualitas</li>
                        </ul>
                    </div>
                    <div class="col-xl-5">
                        <div class="me-4">
                            <h4 class="fw-bold mb-1">Excellent</h4>
                            <div class="de-rating-ext fs-15">
                                <span class="d-stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                                <div class="fs-14 mb-0">Berdasarkan <span class="fw-bold">ratusan review</span></div>
                                <div class="fs-12 text-muted">pelanggan puas</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spacer-10"></div>
                <a class="btn-main wow fadeInUp" href="/about">Tentang Kami</a>
            </div>
        </div>
    </div>
</section>
