<!-- footer begin -->
<footer class="footer-light">
    <div class="container relative z-1000">
        <div class="row gx-5">
            <div class="col-lg-4 col-sm-6">
                <img src="/client/images/foot.png" alt="Kuli IT Beauty" >
                <div class="spacer-20"></div>
                <p>Kuli IT Beauty memahami bahwa setiap orang memiliki kebutuhan kulit yang berbeda. Kami hadir untuk membantu Anda mendapatkan solusi terbaik dengan pelayanan profesional dan hasil yang nyata.</p>
                <div class="spacer-20"></div>
                <div class="social-icons">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 order-lg-1 order-sm-2">
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="widget">
                            <h5>Layanan Kami</h5>
                            <ul>                                        
                                <li><a href="#services">Facial Treatment</a></li>
                                <li><a href="#services">Body Treatment</a></li>
                                <li><a href="#services">Acne Treatment</a></li>
                                <li><a href="#services">Anti Aging</a></li>
                                <li><a href="#services">Laser Therapy</a></li>
                                <li><a href="#services">Chemical Peeling</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="widget">
                            <h5>Menu</h5>
                            <ul>
                                <li><a href="#about">Tentang Kami</a></li>
                                <li><a href="#services">Layanan</a></li>
                                <li><a href="#team">Tim Kami</a></li>
                                <li><a href="#pricing">Harga</a></li>
                                <li><a href="#faq">FAQ</a></li>
                                <li><a href="#contact">Kontak</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 order-lg-2 order-sm-1">
                <div class="widget">
                    <h5>Hubungi Kami</h5>
                    
                    <div class="fw-bold text-dark mb-2"><i class="icofont-location-pin me-2 id-color"></i>Lokasi Klinik</div>
                    Jl. Sudirman No. 123<br>
                    Jakarta Pusat, 10220

                    <div class="spacer-20"></div>

                    <div class="fw-bold text-dark mb-2"><i class="icofont-envelope me-2 id-color"></i>Email</div>
                    hello@kuliitbeauty.com

                    <div class="spacer-20"></div>

                    <div class="fw-bold text-dark mb-2"><i class="icofont-phone me-2 id-color"></i>Telepon / WhatsApp</div>
                    <a href="https://wa.me/6281234567890" target="_blank">+62 812-3456-7890</a>

                    <div class="spacer-20"></div>

                    <div class="fw-bold text-dark mb-2"><i class="icofont-clock-time me-2 id-color"></i>Jam Operasional</div>
                    Senin - Sabtu: 09.00 - 20.00<br>
                    Minggu: 10.00 - 18.00
                </div>
            </div>
        </div>
    </div>
    <div class="subfooter relative z-1000">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="de-flex">
                        <div class="de-flex-col">
                            © 2026 Kuli IT Beauty - All Rights Reserved
                        </div>
                        <ul class="menu-simple">
                            <li><a href="#">Syarat & Ketentuan</a></li>
                            <li><a href="#">Kebijakan Privasi</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img src="/client/images/misc/flowers-crop-3.webp" class="w-20 absolute top-0 end-0 sw-anim" alt="">
</footer>
<!-- footer close -->
