<section class="bg-color no-top no-bottom" id="info">
    <div class="container-fluid">
        <div class="row g-0 align-items-center">
            <div class="col-lg-4 col-md-4">
                <div class="relative p-4 text-light">
                    <i class="d-block fs-40 mb-2 icofont-clock-time"></i>
                    Senin - Sabtu: 09.00 - 20.00<br>
                    Minggu: 10.00 - 18.00<br>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="relative p-4 bg-color-2 text-light">
                    <i class="d-block fs-40 mb-2 icofont-location-pin"></i>
                    Jl. Sudirman No. 123<br>
                    Jakarta Pusat, 10220
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="relative p-4 bg-color-3 text-dark">
                    <i class="d-block fs-40 mb-2 icofont-phone"></i>
                    +62 812-3456-7890<br>
                    hello@kuliitbeauty.com
                </div>
            </div>
        </div>
    </div>
</section>
