<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center">
                <div class="subtitle s2 wow fadeInUp mb-3">Proses Treatment</div>
                <h2 class="wow fadeInUp" data-wow-delay=".2s">Bagaimana Cara Kerjanya?</h2>
                <p class="lead wow fadeInUp">Kami menerapkan proses 4 langkah sederhana untuk memastikan hasil maksimal dan kepuasan pelanggan.</p>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row g-4 arrow-divider">
                <div class="col-lg-3 col-6 wow fadeInRight" data-wow-delay=".2s">
                    <div class="relative p-4">
                        <div class="subtitle bg-color text-light mb-2 wow fadeInRight" data-wow-delay=".2s">Step 1</div>
                        <h4>Konsultasi</h4>                    
                        <p class="fs-14">Konsultasi gratis untuk memahami kondisi kulit, kebutuhan, dan target perawatan Anda.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-6 wow fadeInRight" data-wow-delay=".6s">
                    <div class="relative p-4">
                        <div class="subtitle bg-color text-light mb-2 fadeInRight" data-wow-delay=".6s">Step 2</div>
                        <h4>Analisis Kulit</h4>                    
                        <p class="fs-14">Analisis kulit menggunakan alat profesional untuk menentukan treatment yang paling sesuai.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-6 wow fadeInRight" data-wow-delay=".8s">
                    <div class="relative p-4">
                        <div class="subtitle bg-color text-light mb-2 wow fadeInRight" data-wow-delay=".8s">Step 3</div>
                        <h4>Treatment</h4>                    
                        <p class="fs-14">Proses perawatan dilakukan oleh tenaga ahli menggunakan teknik dan produk terbaik.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-6 wow fadeInRight" data-wow-delay="1s">
                    <div class="relative p-4">
                        <div class="subtitle bg-color text-light mb-2 wow fadeInRight" data-wow-delay="1s">Step 4</div>
                        <h4>Aftercare</h4>                    
                        <p class="fs-14">Panduan perawatan lanjutan dan rekomendasi produk agar hasil tetap optimal.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
