<section class="relative overflow-hidden pb60">
    <img src="/client/images/misc/flowers-crop-2.webp" class="w-30 absolute top-0 start-0 sw-anim" alt="">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center">
                <div class="subtitle wow fadeInUp mb-3">Layanan Kami</div>
                <h2 class="wow fadeInUp" data-wow-delay=".2s">Beauty & <span class="alt-font fw-500 fs-64 id-color-2">Wellness Services</span></h2>
                <p class="lead mb-0 wow fadeInUp">Kami menyediakan berbagai treatment kecantikan untuk membantu meningkatkan kesehatan kulit dan menunjang penampilan Anda.</p>
                <div class="spacer-single"></div>
                <div class="spacer-half"></div>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-sm-6">
                <div class="relative mb-3">
                    <a href="#!" class="d-block hover mb-3">
                        <div class="relative overflow-hidden rounded-20px shadow-soft">
                            <img src="/client/images/misc/flowers-crop-3-white.webp" class="w-50 end-0 absolute hover-op-0" alt="">
                            <img src="/client/images/services/7.jpg" class="img-fluid hover-scale-1-2" alt="">
                        </div>
                    </a>
                    <h4>Facial Treatment</h4>
                    <p class="no-bottom">Perawatan wajah mendalam seperti deep cleansing, hydrating facial, brightening, acne treatment, dan anti-aging sesuai kebutuhan kulit Anda.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="relative mb-3">
                    <a href="#!" class="d-block hover mb-3">
                        <div class="relative overflow-hidden rounded-20px shadow-soft">
                            <img src="/client/images/misc/flowers-crop-3-white.webp" class="w-50 end-0 absolute hover-op-0" alt="">
                            <img src="/client/images/services/8.jpg" class="img-fluid hover-scale-1-2" alt="">
                        </div>
                    </a>
                    <h4>Body Treatment</h4>
                    <p class="no-bottom">Perawatan tubuh seperti body spa, massage relaksasi, body scrub, dan perawatan pembentukan tubuh.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="relative mb-3">
                    <a href="#!" class="d-block hover mb-3">
                        <div class="relative overflow-hidden rounded-20px shadow-soft">
                            <img src="/client/images/misc/flowers-crop-3-white.webp" class="w-50 end-0 absolute hover-op-0" alt="">
                            <img src="/client/images/services/9.jpg" class="img-fluid hover-scale-1-2" alt="">
                        </div>
                    </a>
                    <h4>Aesthetic Treatment</h4>
                    <p class="no-bottom">Treatment non-bedah seperti microneedling, chemical peeling, laser therapy, dan skin rejuvenation dengan teknologi modern.</p>
                </div>
            </div>
        </div>
    </div>
</section>
