<section class="section-dark text-light text-center jarallax">
    <img src="/client/images/background/1.webp" class="jarallax-img" alt="">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-3 col-sm-6 mb-sm-30">
                <div class="de_count fs-15 wow fadeInRight" data-wow-delay=".0s">
                    <h3 class="fs-40"><span class="timer fs-40" data-to="8500" data-speed="3000">0</span>+</h3>
                    Klien Puas
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-sm-30">
                <div class="de_count fs-15 wow fadeInRight" data-wow-delay=".2s">
                    <h3 class="fs-40"><span class="timer fs-40" data-to="5200" data-speed="3000">0</span>+</h3>
                    Treatment Selesai
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-sm-30">
                <div class="de_count fs-15 wow fadeInRight" data-wow-delay=".4s">
                    <h3 class="fs-40"><span class="timer fs-40" data-to="15" data-speed="3000">0</span>+</h3>
                    Tahun Pengalaman
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-sm-30">
                <div class="de_count fs-15 wow fadeInRight" data-wow-delay=".6s">
                    <h3 class="fs-40"><span class="timer fs-40" data-to="25" data-speed="3000">0</span>+</h3>
                    Beauty Specialist Profesional
                </div>
            </div>
        </div>
    </div>
</section>
