<section class="relative overflow-hidden">
    <img src="/client/images/misc/flowers-crop-2.webp" class="w-30 absolute top-0 end-0 sw-anim" alt="">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center">
                <div class="subtitle wow fadeInUp mb-3">Tim Profesional Kami</div>
                <h2 class="wow fadeInUp" data-wow-delay=".2s">Our <span class="alt-font fw-500 fs-64 id-color-2">Specialists</span></h2>
                <p class="lead">Tim kami terdiri dari tenaga ahli berpengalaman dan bersertifikat yang siap memberikan pelayanan terbaik untuk Anda.</p>
                <div class="spacer-single"></div>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6">
                <img src="/client/images/team/1.png" class="img-fluid rounded-10px" alt="">
                <div class="p-3 text-center bg-color-3 rounded-10px mx-3 mt-30 relative z-1000">
                    <h4 class="mb-0">Dr. Siti Nurhaliza</h4>
                    <p class="mb-2">Senior Aesthetician</p>
                    <div class="social-icons">
                        <a href="#"><i class="bg-white id-color bg-hover-2 text-hover-white fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="bg-white id-color bg-hover-2 text-hover-white fa-brands fa-x-twitter"></i></a>
                        <a href="#"><i class="bg-white id-color bg-hover-2 text-hover-white fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="/client/images/team/2.webp" class="img-fluid rounded-10px" alt="">
                <div class="p-3 text-center bg-color-3 rounded-10px mx-3 mt-30 relative z-1000">
                    <h4 class="mb-0">Rina Wijaya</h4>
                    <p class="mb-2">Skin Therapist</p>
                    <div class="social-icons">
                        <a href="#"><i class="bg-white id-color bg-hover-2 text-hover-white fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="bg-white id-color bg-hover-2 text-hover-white fa-brands fa-x-twitter"></i></a>
                        <a href="#"><i class="bg-white id-color bg-hover-2 text-hover-white fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="/client/images/team/3.webp" class="img-fluid rounded-10px" alt="">
                <div class="p-3 text-center bg-color-3 rounded-10px mx-3 mt-30 relative z-1000">
                    <h4 class="mb-0">Maya Putri</h4>
                    <p class="mb-2">Beauty Consultant</p>
                    <div class="social-icons">
                        <a href="#"><i class="bg-white id-color bg-hover-2 text-hover-white fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="bg-white id-color bg-hover-2 text-hover-white fa-brands fa-x-twitter"></i></a>
                        <a href="#"><i class="bg-white id-color bg-hover-2 text-hover-white fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="/client/images/team/4.webp" class="img-fluid rounded-10px" alt="">
                <div class="p-3 text-center bg-color-3 rounded-10px mx-3 mt-30 relative z-1000">
                    <h4 class="mb-0">Dewi Lestari</h4>
                    <p class="mb-2">Clinical Specialist</p>
                    <div class="social-icons">
                        <a href="#"><i class="bg-white id-color bg-hover-2 text-hover-white fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="bg-white id-color bg-hover-2 text-hover-white fa-brands fa-x-twitter"></i></a>
                        <a href="#"><i class="bg-white id-color bg-hover-2 text-hover-white fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
