<section class="text-light section-dark jarallax">
    <img src="/client/images/background/3.webp" class="jarallax-img" alt="">
    <div class="container">
        <div class="row g-4 gx-5 relative z-index-1000">
            <div class="col-lg-2 offset-lg-1 col-sm-4 text-center">
                <img src="/client/images/team/2.webp" class="img-fluid circle wow scaleIn" alt="">
                <h5 class="mt-3 mb-0">Sarah Amelia</h5>
                <p class="small mb-2">Klien Facial Treatment</p>
            </div>
            <div class="col-lg-8 col-sm-8">
                <p class="mb20 wow fadeInUp fs-32 fw-600 lh-1-3" data-wow-delay=".2s">Kuli IT Beauty luar biasa! Tim ahli mereka sangat profesional dan perhatian. Suasana klinik nyaman dan mewah, hasilnya pun sangat memuaskan. Terima kasih Kuli IT Beauty, sudah membuat saya tampil lebih percaya diri!</p>
            </div>
        </div>
    </div>
</section>
