<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/client/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/client/css/plugins.css" rel="stylesheet" type="text/css">
    <link href="/client/css/style.css" rel="stylesheet" type="text/css">
    <link href="/client/css/coloring.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrapper">
        <%- include('../widgets/header') %>
        <div id="content">
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2 text-center">
                            <h1 class="display-1 fw-bold">500</h1>
                            <h2 class="mb-4">Terjadi Kesalahan</h2>
                            <p class="lead mb-4">Maaf, terjadi kesalahan pada server. Silakan coba lagi nanti.</p>
                            <a href="/" class="btn-main">Kembali ke Beranda</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <%- include('../widgets/footer') %>
    </div>
    <script src="/client/js/plugins.js"></script>
    <script src="/client/js/designesia.js"></script>
</body>
</html>
